{% load static %} {% load leaflet_tags %} {% leaflet_js %} {% leaflet_css %}
{% csrf_token %}
ALT Toggle navigation

    Admin Dashboard
    User Image {% if user.is_authenticated %} Hello, {{user.username}} {% else %} Click to Login {% endif %}
        User Image

        {% if user.is_authenticated %} {{user.username}} Member since, {{user.date_joined}} {% else %} Click to Login {% endif %}
        Followers
        Sales
        Friends
        Profile
        {% if user.is_authenticated %} Logout {% else %} Login {% endif %}

User Image
{% if user.is_authenticated %}

{{user.username}}
Online {% else %}

User
Offline {% endif %}

    MAIN NAVIGATION
    Dashboard
        Users
        Complaints
        Review
        Hotels
        Question
        Mobile Users

Charts

    ChartJS
    Morris
    Flot
    Inline charts

Dashboard Version 2.0

    Home
    Dashboard

Total Reviews {{review_count}}
Total Complaints {{ complaint_count }}
Total Questions Asked {{ question_count }}
Total Mobile
App Users {{ mobileusers_count }}
Monthly Recap Report

    Action
    Another action
    Something else here
    Separated link

Sales: 1 Jan, 2014 - 30 Jul, 2014

Goal Completion
Add Products to Cart 160/200
Complete Purchase 310/400
Visit Premium Page 480/800
Send Inquiries 250/500
17%
$35,210.43
TOTAL REVENUE
0%
$10,390.90
TOTAL COST
20%
$24,813.53
TOTAL PROFIT
18%
1200
GOAL COMPLETIONS
Visitors Report
{% leaflet_map "yourmap" callback="window.map_init_basic" %}
90,70,90,70,75,80,70
8390
Visits
90,50,90,70,61,83,63
30%
Referrals
90,50,90,70,61,83,63
70%
Organic
Direct Chat
3
{{user.username}} 23 Jan 2:00 pm
message user image
Is this template really for free? That's unbelievable!
Sarah Bullock 23 Jan 2:05 pm
message user image
You better believe it!
Alexander Pierce 23 Jan 5:37 pm
message user image
Working with AdminLTE on a great new app! Wanna join?
Sarah Bullock 23 Jan 6:10 pm
message user image
I would love to.

    User Image
    Count Dracula 2/28/2015 How have you been? I was...
    User Image
    Sarah Doe 2/23/2015 I will be waiting for...
    User Image
    Nadia Jolie 2/20/2015 I'll call you back at...
    User Image
    Nora S. Vans 2/10/2015 Where is your new...
    User Image
    John K. 1/27/2015 Can I take a look at...
    User Image
    Kenneth M. 1/4/2015 Never mind I found...

Latest Members
8 New Members

    User Image Alexander Pierce Today
    User Image Norman Yesterday
    User Image Jane 12 Jan
    User Image John 12 Jan
    User Image Alexander 13 Jan
    User Image Sarah 14 Jan
    User Image Nora 15 Jan
    User Image Nadia 15 Jan

View All Users
Latest Orders
Order ID 	Item 	Status 	Popularity
OR9842 	Call of Duty IV 	Shipped 	
90,80,90,-70,61,-83,63
OR1848 	Samsung Smart TV 	Pending 	
90,80,-90,70,61,-83,68
OR7429 	iPhone 6 Plus 	Delivered 	
90,-80,90,70,-61,83,63
OR7429 	Samsung Smart TV 	Processing 	
90,80,-90,70,-61,83,63
OR1848 	Samsung Smart TV 	Pending 	
90,80,-90,70,61,-83,68
OR7429 	iPhone 6 Plus 	Delivered 	
90,-80,90,70,-61,83,63
OR9842 	Call of Duty IV 	Shipped 	
90,80,90,-70,61,-83,63
Place New Order View All Orders
Inventory 5,200
50% Increase in 30 Days
Mentions 92,050
20% Increase in 30 Days
Downloads 114,381
70% Increase in 30 Days
Direct Messages 163,921
40% Increase in 30 Days
Browser Usage

    Chrome
    IE
    FireFox
    Safari
    Opera
    Navigator

    United States of America 12%
    India 4%
    China 0%

Recently Added Products

    Product Image
    Samsung TV $1800 Samsung 32" 1080p 60Hz LED Smart HDTV.
    Product Image
    Bicycle $700 26" Mongoose Dolomite Men's 7-speed, Navy Blue.
    Product Image
    Xbox One $350 Xbox One Console Bundle with Halo Master Chief Collection.
    Product Image
    PlayStation 4 $399 PlayStation 4 500GB Console (PS4)

View All Products
Version 2.4.18
Copyright © 2014-2019 AdminLTE. All rights reserved.

Recent Activity

    Langdon's Birthday

    Will be 23 on April 24th
    Frodo Updated His Profile

    New phone +1(800)555-1234
    Nora Joined Mailing List

    nora@example.com
    Cron Job 254 Executed

    Execution time 5 seconds

Tasks Progress

    Custom Template Design 70%
    Update Resume 95%
    Laravel Integration 50%
    Back End Framework 68%

General Settings
Report panel usage

Some information about this general settings option
Allow mail redirect

Other sets of options are available
Expose author name in posts

Allow the user to show his name in blog posts
Chat Settings
Show me as online
Turn off notifications
Delete chat history
